@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
  font-family: Raleway, monospace, sans-serif;
}
#header-img {
  padding: 1rem;
}
.logo {
  margin-left: 2rem;
  
}
#header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: black;
  opacity: 0.9;
  position: sticky;
  top: 0;
  height: 150px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 150px;
}
#nav-bar {
  width: 100%;
}
li {
  padding-right: 20px;
}
.nav-link {
  text-decoration: none;
}
.services {
  text-align: center;
  padding: 2rem;
  background-color:#438896;
  color: wheat;
}
.services-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-items: flex-end;
}
.services-card {
  padding: 1rem;
  min-height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.services h1{
  text-transform: uppercase;
  border-bottom: 1.5px solid white;
  display: inline-block;
  line-height: 0.85;
}
.extras {
  padding: 3rem; 
}
.extras-contrainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}
#video {
  width: 80%;
  height: 80%;
}
.video-container {
  padding: 2rem;
}
.extras h1 {
  text-transform: uppercase;
  border-bottom: 1.5px solid #438896;
  display: inline-block;
  line-height: 0.85;
}
.blog {
  text-align: center;
  padding: 2rem;
  background-color:#438896;
  color: wheat;
  
}
.blog-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.blog-card {
  padding: 1rem;
  min-height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-img {
  width: 300px;
  height: 250px;
}
.blog-desc {
  width: 300px;
}
.blog h1 {
  text-transform: uppercase;
  border-bottom: 1.5px solid white;
  display: inline-block;
  line-height: 0.85;

}
.about-container {
  text-align: center;
  padding: 3rem;
  background-image: url(https://images.pexels.com/photos/1095814/pexels-photo-1095814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  color: white;
  
}
.about-container h1 {
  text-transform: uppercase;
  border-bottom: 1.5px solid white;
  display: inline-block;
  line-height: 0.85;

}
.form-container {
  text-align: center;
  padding: 3.5rem;
}
.email-title {
  padding: 1rem;
}
.form-container h1 {
  text-transform: uppercase;
  border-bottom: 1.5px solid #438896;
  display: inline-block;
  line-height: 0.85;
}
#email {
  width: 80%;
  height: 20px;
  border: 1px solid;
  border-color: black;
  opacity: 0.5;
  padding: 0.5rem;
  font-family: Raleway, monospace, sans-serif; 

}
.button {
  border: 2px solid #438896;
  background-color: #438896;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem;
  text-transform: uppercase;

}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color:#438896;
  cursor: pointer;
}
a:active {
  color: #438896;
}
.footer-container {
  background-color: black;
  color: white;
  padding: 1rem;
}
.footer-button {
  border: 2px solid #438896;
  background-color: #438896;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;

}
.footer-button-conainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-text { 
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
@media (max-width:600px) {
  #nav-bar {
    display: none;
  }
}

